.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.house-image {
    background-image: url("./../Media/house_img.jpg");
    width: 100%;
    height: 100vh;
}